<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.powerflasher.fdt.ui.MobileApplicationGroup">
<stringAttribute key="ADL_DESCRIPTOR_FILE" value="bin/KeyActionBinderTester-app.xml"/>
<stringAttribute key="ADL_SCREENSIZE" value="960x540:960x540"/>
<booleanAttribute key="ADVANCED_TELEMTRY" value="false"/>
<intAttribute key="AIR_VIEWER_CONF" value="2"/>
<stringAttribute key="APP_ARGUMENTS" value=""/>
<stringAttribute key="ARGUMENTS" value="--frames.frame=two,com.zehfernando.mind.kana.application.ApplicationFrame2&#10;--target-player={playerVersion}&#10;--library-path+=&quot;{flexSDK}/frameworks/locale/en_US&quot;&#10;--default-frame-rate=60&#10;--default-background-color=0x000000&#10;--default-size=320,480&#10;--swf-version=20&#10;--compress=false&#10;-inline"/>
<booleanAttribute key="CLEAR_DATA" value="false"/>
<listAttribute key="COMPILER_CONSTANTS"/>
<stringAttribute key="COMPILER_TECHNOLOGY" value="ASC"/>
<booleanAttribute key="CUSTOMIZE_ADL_ARGS" value="false"/>
<stringAttribute key="CUSTOM_ADL_CMD_LINE" value="${nodebug} ${profile} ${screensize} ${anesdir} ${desc} ${rootdir}"/>
<intAttribute key="DEBUG_VIA" value="0"/>
<booleanAttribute key="DEINSTALL_TARGET" value="true"/>
<booleanAttribute key="DISABLE_COMPILE_PROCESS" value="false"/>
<booleanAttribute key="INSTALL_APPLICATION" value="true"/>
<stringAttribute key="LAUNCHER_DEPENDENCIES" value="[Self]"/>
<intAttribute key="LAUNCH_METHOD" value="0"/>
<stringAttribute key="MAIN_CLASS" value="src/com/zehfernando/keyactionbindertester/application/KeyActionBinderTester.as"/>
<stringAttribute key="MOBILE_PRESET" value="OUYA (half)"/>
<intAttribute key="PACKAGE_METHOD" value="0"/>
<booleanAttribute key="PASS_CP" value="true"/>
<booleanAttribute key="PASS_DEFINES" value="true"/>
<booleanAttribute key="PASS_EXTERNS" value="true"/>
<booleanAttribute key="PASS_MAIN_CLASS" value="true"/>
<booleanAttribute key="PASS_RSLS" value="false"/>
<booleanAttribute key="PASS_SWCS" value="true"/>
<intAttribute key="PLAYER_HEIGHT" value="380"/>
<intAttribute key="PLAYER_WIDTH" value="640"/>
<stringAttribute key="POST_COMPILE_ANT" value=""/>
<stringAttribute key="PRE_COMPILE_ANT" value=""/>
<stringAttribute key="PROJECT_NAME" value="KeyActionBinderTester"/>
<booleanAttribute key="SAMPLER" value="false"/>
<booleanAttribute key="START_DEBUGGER" value="true"/>
<stringAttribute key="START_SWF_WITH" value="AIR Debug Launcher"/>
<stringAttribute key="TARGET_PLATFORM" value="Android"/>
<stringAttribute key="TARGET_PLATFORM_CONFIG" value="Primary"/>
<booleanAttribute key="USE_PROJECT_COMPILER_ARGUMENTS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/KeyActionBinderTester"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
